.gradient-div{
    display: flex;
    justify-content: center;
}

.gradient-button{
  background-image: linear-gradient(
    to right top, 
    #6c2be5, 
    #7728e2, 
    #8024df, 
    #8920dc, 
    #911cd9, 
    #714cec, 
    #4a68f9, 
    #007dff, 
    #00a4ff, 
    #00c5ff, 
    #00e2ff, 
    #5ffbf1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 30%;
    border: none;
    padding: 2% 0%;
    color: #efefef;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 600;
}


@media only screen and (max-width:600px) {
  .gradient-button{
    width: 35%;
    padding: 3% 0%;
  }
}