.scrolltotop-div{
    display: flex;
    align-items: center;
    justify-content:center;
}


.scrollTop {
    border-radius:50%;
    display: flex;
    position: fixed; 
    width: auto;
    font-size: 40px;
    bottom: 20px;
    align-items: center;
    height: 40px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }

  .dark-scrolltop{
     color: black;
      background-color:white;
  }
  

.light-scrolltop{
    color: white;
    background-color:black
}

.scroll-none{
    display: none;
}

  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }