.scrolltotop-div{
    display: flex;
    align-items: center;
    justify-content:center;
}


.scrollTop {
    background-color: white;
    border-radius:50%;
    color: black;
    display: flex;
    position: fixed; 
    width: auto;
    font-size: 40px;
    bottom: 20px;
    align-items: center;
    height: 40px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
.scroll-none{
    display: none;
}

  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }