@import url("./Mobile.css");
@import url("./Web.css");
.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: fixed;
  align-items: center;
  width: 70vw;
  background-color: white;
}
.header-dark {
  background-color: black;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 24px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 36px;
  color: royalblue;
  font-weight: 800;
}

.dark-logo {
  color: deepskyblue;
}
@media only screen and (max-width: 720px) {
  .header {
    width: 90vw !important;
  }
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
}
